@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: #ffffff;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

.card {
  width: 375px;
  overflow: hidden;
  height: 830px;
  box-sizing: border-box;
}
.card__preview {
  padding-top: 15px;
  background: linear-gradient(#7857ff, #2e2be9);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 375px;
  height: 354px;
}
.card__preview__title {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 0.93em;
  font-weight: 500;
  color: #ebf1ff;
}
.card__preview__result {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  background: linear-gradient(#4e21ca, rgba(36, 33, 202, 0));
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ebf1ff;
  font-size: 2.9em;
  font-weight: 700;
}
.card__preview__result span {
  font-size: 0.34em;
  font-weight: 500;
  color: #c8c7ff;
}
.card__preview__descs-tittle {
  text-align: center;
  color: #ebf1ff;
  font-size: 1.3em;
  font-weight: 700;
  margin: 10px auto 5px;
}
.card__preview__descs {
  text-align: center;
  width: 256px;
  font-size: 0.87em;
  font-weight: 500;
  color: #c8c7ff;
  margin: 10px auto 5px;
}
.card__desc {
  width: 375px;
  height: 447px;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__desc__title {
  font-size: 0.93em;
  font-weight: 500;
  color: #303b5a;
  margin: 0 0 20px 0;
}
.card__desc__statics {
  padding: 0 20px;
  height: 70px;
  width: 307px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  border-radius: 12px;
}
.card__desc__statics__stat {
  text-align: center;
  font-size: 0.93em;
  font-weight: 500;
  color: #303b5a;
}
.card__desc__statics__stat span {
  color: #c8c7ff;
}
.card__desc .static1 {
  background-color: rgba(255, 87, 87, 0.0901960784);
}
.card__desc .static1 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.card__desc .static1 div p {
  color: #ff5757;
}
.card__desc .static2 {
  background-color: rgba(255, 177, 31, 0.0901960784);
}
.card__desc .static2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.card__desc .static2 div p {
  color: #ffb01f;
}
.card__desc .static3 {
  background-color: rgba(0, 189, 145, 0.0901960784);
}
.card__desc .static3 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.card__desc .static3 div p {
  color: #00bd91;
}
.card__desc .static4 {
  background-color: rgba(17, 37, 212, 0.0901960784);
  margin-bottom: 15px;
}
.card__desc .static4 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.card__desc .static4 div p {
  color: #1125d4;
}
.card__desc__cont {
  border-radius: 30px;
  height: 59px;
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #303b5a;
  color: #ebf1ff;
  font-size: 1.2em;
  transition: all 0.6s ease;
}
.card__desc__cont:hover {
  background: linear-gradient(#1125d4, #2e2be9);
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 375px) {
  .card {
    border-radius: 12px;
  }
}
@media (min-width: 600px) {
  .card {
    width: 735px;
    height: 510px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px #ebf1ff;
  }
  .card__preview {
    width: 370px;
    height: 510px;
    overflow: hidden;
    border-radius: 12px;
  }
  .card__preview__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
  }
  .card__preview__result {
    width: 205px;
    height: 205px;
    font-size: 3.4em;
  }
  .card__preview__descs-tittle {
    font-size: 1.5em;
  }
  .card__preview__descs {
    width: 260px;
    font-size: 1em;
  }
}

/*# sourceMappingURL=index.css.map */
